<div class="logo1">
    <img src ="http://via.placeholder.com/300x150">
</div>
<div class="logo2">
    <img src ="http://via.placeholder.com/300x150">
</div>
<div class="btn-container">
   <div class="btn-wrap"><button class="btn" mat-raised-button color="primary" (click)="btn1()"><img draggable="false" src ="http://via.placeholder.com/150x150"></button><br> EHR<br> demo</div>
   <div class="btn-wrap"><button class="btn" mat-raised-button color="primary" (click)="btn2()"><img draggable="false" src ="http://via.placeholder.com/150x150"></button><br> Tele-Health<br> demo</div>
</div>