<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title> Demographics </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="tab">
        <div class="info text">
            Name:
            <div class="data">Phil Belford</div>
        </div>
        <div class="info text">
            Maritial Status:
            <div class="data">Single</div>
        </div>
        <div class="info text">
            External ID:
            <div class="data">9034906</div>
        </div>
        <div class="info text">
            DOB:
            <div class="data">1972-02-09</div>
        </div>
        <div class="info text">
            User Defined:
            <div class="data">True</div>
        </div>
        <div class="info text">
            Sex:
            <div class="data">Male</div>
        </div>
        <div class="info text">
            S.S:
            <div class="data">1234567890</div>
        </div>
        <div class="info text">
            Billing Note:
            <div class="data">Medicated</div>
        </div>
        <div class="info text">
            License ID:
            <div class="data">1234567</div>
        </div>
    </div>

</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title> Insurance </mat-panel-title>
    </mat-expansion-panel-header>
    Insurance data
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title> Vitals </mat-panel-title>
    </mat-expansion-panel-header>
    Vitals data
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title> Medical Problems </mat-panel-title>
    </mat-expansion-panel-header>
    Medic probs data
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title> Allergies </mat-panel-title>
    </mat-expansion-panel-header>
    Allergies data
</mat-expansion-panel>
<div style="margin-left: 30%;margin-top: auto;margin-right: 0;">
    <img src="http://via.placeholder.com/800x100">
</div>
<div style="margin-top: auto;margin-bottom: 0;margin-left: auto;display: flex;flex-direction: row-reverse;">
    <button mat-button class="grad" style="color: beige; font-weight: bold;" (click)="nextStep()">
        Next
    </button>
</div>